* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #4cb69f;
    /* Light background for the header */
    padding: 20px 0;
    /* Add vertical padding for spaciousness */
}

header.black_theme {
    background-color: #b3b3b3;
    color: white;
}

nav ul {
    display: flex;
    /* Use Flexbox to align items in a row */
    justify-content: center;
    /* Center the items horizontally */
    align-items: center;
    /* Center the items vertically */
    list-style: none;
    /* Remove the bullet points from the list */
    padding: 0px;
}

nav li {
    margin: 0 45px;
    /* Add horizontal spacing between each item */
}

nav a,
#theme-toggle {
    text-decoration: none;
    /* Remove underline from links */
    color: #2c1307;
    /* Dark text color for better readability */
    font-size: 16px;
    /* Adjust the font size */
    padding: 8px 12px;
    /* Add padding inside the links and button */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effects */
}


nav a:hover {
    background-color: #e2e6ea;
}

.returnBackButton {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
}

.returnBackButton:hover {
    background-color: #0056b3;

}

.header h2 {
    margin-left: 300px;
}

headerDiv {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.headerDiv {
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

#contactForm label {
    margin-bottom: 5px;
}

#contactForm input,
#contactForm textarea,
.supportSubmit {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.supportSubmit {
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.supportSubmit:hover {
    background-color: #0056b3;
}