* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: cyan;
}

.inputDiv {
    padding: 5px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 12px;
    height: auto;
    /* Maintain the aspect ratio */
    max-width: 100%;
    /* Prevent image from exceeding its natural size */
    border-radius: 10px;
    /* Optional: Add some rounding to the image corners */
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    /* Text color */
    cursor: pointer;
    transition: background-color 0.3s smooth;
}

.inputDiv:hover {
    background-color: #0056b3;
    /* Darker background color on hover */
}

/* Ensure the image container is responsive */
#image {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.bg-info-subtle {
    margin-left: 80px;
    margin-right: 70px;
}

header {
    background-color: gray;
    padding: 15px;
    color: white;
}

.timer {
    background-color: antiquewhite;
    margin-left: 240px;
    margin-right: 240px;
}

.list {
    margin: 15px;
    padding: 10px;
}

.displayListDiv ol.list li {
    border: 1px solid red;
    padding: 8px;
    border-radius: 7px;
    margin: 5px;
}

#myForm {
    width: 40%;
}

.form-label {
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type='submit'] {
    background-color: #bfecc2;
    padding: 5px;
    margin: 10px;
}

.image img {
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}